@media only screen and (min-width: 650px) {

body {
    background-image: url('library.jpg');
}

#container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-width: 800px;
    border: 1px solid black;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 5px grey;
}


#tabs {
    display: flex;
    justify-content: space-around;
}

.genre {
    width: 25%;
    height: 40px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
    box-shadow: 5px 5px 5px grey;
}

.genre:last-of-type {
    box-shadow: none;
}

.genre:hover {
    cursor: pointer;
    background-color: lightgray;
    color: orange;
}

#carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    opacity: 0.7;
    color: white;
  }

#carousel-images {
    width: 100%;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
 
  }

#carousel-images div {
    width: 100%;
    display: none;
  }
  
#carousel-images div:first-of-type {
    display: flex;
  }
  
.book {
    height: 100%;
}

.book img {
    height: 200px;
    width: 150px;
    margin-top: 40px;
}

.book-info {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    font-size: 1.3vw;
}
  
.carousel-button {
    align-self: center;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

.carousel-button:hover {
    cursor: pointer;
    color: lightgray;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

}

@media only screen and (max-width: 650px) {

#container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-top: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


#tabs {
    display: flex;
    justify-content: space-around;
}

.genre {
    width: 25%;
    padding: 5px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 3.5vw;
    box-shadow: 5px 5px 5px grey;
}

.genre:last-of-type {
    box-shadow: none;
}

.genre:hover {
    cursor: pointer;
    background-color: lightgray;
    color: orange;
}

#carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    color: white;
  }

#carousel-images {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

#carousel-images div {
    width: 100%;
    display: none;
  }
  
#carousel-images div:first-of-type {
    display: flex;
  }
  
.book {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    width: 50%;
    margin-top: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}
  
.carousel-button {
    align-self: center;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

.carousel-button:hover {
    cursor: pointer;
    color: lightgray;
  }

  a {
      text-decoration: none;
      color: inherit;
  }


  }