#container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    max-width: 600px;
    border: 1px solid black;
}



#tabs {
    display: flex;
    justify-content: space-around;
}

.genre {
    width: 20%;
    height: 30px;
    border: 1px solid black;
}


#carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

#carousel-images {
    width: 80%;
    background: #bbbbbb;
    padding: 10px;
    box-sizing: border-box;
 
  }

#carousel-images div {
    width: 100%;
    display: none;
  }
  
#carousel-images div:first-of-type {
    display: block;
  }
  
  
.carousel-button {
    align-self: center;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.carousel-button:hover {
    cursor: pointer;
    color: white;
  }